In [163]:
phones='iphone'
print(phones)
movies='bhaubali'
print(movies)
numbers={2,4,5,6,7,4,5}
print(numbers)

iphone
bhaubali
{2, 4, 5, 6, 7}

In [164]:
laptop=['hp','dell','sony']
print(laptop)

['hp', 'dell', 'sony']

In [165]:
MNCS={
    'NAME':'TCS',
    'PACKAGE':25,
     'QUALIFICATION':'B.TECH',
     'LOCATION':'NOIDA'



}
print(MNCS)

{'NAME': 'TCS', 'PACKAGE': 25, 'QUALIFICATION': 'B.TECH', 'LOCATION': 'NOIDA'}

#### string Concatenation

In [166]:
fname="ratan"
lname="singh"
age="21"
name=fname+" "+lname+" "+age
print("my name is ratan singh ," ,"my age is :",age)

my name is ratan singh , my age is : 21

In [167]:
a="ratan"
b="21"
print(f"My name is {a},and my age is {b}")

My name is ratan,and my age is 21

In [168]:
a=10
b="30"
z=int(b)
c=a+z
print(c)

40

In [169]:
a=10
b="30"
z=str(a)
c=b+z
print(c)

3010

In [170]:
a=int(input("enter the value"))
b=int(input("enter the value"))
print(a%b)

0