# loops
.for loop
.while loop

In [5]:
lst='marigold','jasmine','rose','lotus'
for i in lst:
    print(i)

marigold
jasmine
rose
lotus

In [6]:
'marigold'in lst

True

In [1]:
name=input("enter your name")
for x in name:
    print(x,end="ðŸ˜Š")

rðŸ˜ŠaðŸ˜ŠtðŸ˜ŠaðŸ˜ŠnðŸ˜ŠsðŸ˜ŠiðŸ˜ŠnðŸ˜ŠgðŸ˜ŠhðŸ˜Š

In [8]:
name=input("enter your name")
for x in name:
    print(x,end="ðŸ˜Š\n")

rðŸ˜Š
aðŸ˜Š
tðŸ˜Š
aðŸ˜Š
nðŸ˜Š

In [9]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

range(start range,end range)

In [10]:
for num in range(10,26):
    print(num)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

range(start,range,end ramge,gap value)

In [11]:
for x in range(3,16,3):
       print(x)

3
6
9
12
15

In [12]:

for x in range(10):
    print('i can do it')

i can do it
i can do it
i can do it
i can do it
i can do it
i can do it
i can do it
i can do it
i can do it
i can do it

In [13]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [14]:
for i in range(0,21):
     if i%2!=0:
      print(i)

1
3
5
7
9
11
13
15
17
19

### while loop

In [2]:
a=0
while a<5:
    print("ratan")
    a+=1

ratan
ratan
ratan
ratan
ratan

In [16]:
a=0
while a<=20:
    if a%2==0:
        print(a)
    a+=1

0
2
4
6
8
10
12
14
16
18
20

In [17]:
num=1
while num<10:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9

In [18]:
a=10
while a>0:
    print(a*2)
    a-=1

20
18
16
14
12
10
8
6
4
2

In [19]:
lst =['orange','pineapple','banana','apple','ginger','orange','mango']
for i in lst:
    if i=='ginger':
        continue
    print(i)

orange
pineapple
banana
apple
orange
mango

In [20]:
print('hello')

hello

In [21]:
i=1
i<6
print(i)
i+=1

1

In [23]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [50]:
lst=['R','A','T','A','N']
for i in lst:
    if i=='T':
        break
    print(i)

R
A

In [3]:
lst=['s','i','n','g','h']
for i in lst:
    if i=='g':
        break
    print(i)

s
i
n